<div class="clickbait-frame">
  <h1 id='headline'><%= content %></h1>
</div>
<div id='clickbait-buttons'>
  <% %w(listicle whathappens dontwanna whyi watchas).each do |htype| %>
      <% activeclass = (htype==@current_val) ? 'active' : ''%>
      <span id="<%= htype %>" class="sparkley btn-clickbait <%= activeclass %> ">
          <%= list_type_title htype %>
        </span>
  <% end %>
</div>

<div class="share">
  <button id="manual-ajax">Share Permalink</button>
  <div class='' id="init-twit">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://clickbaitgenerator.herokuapp.com" data-text="" data-via="ShannonEWells" data-size="large" data-count="none">Tweet</a>
  </div>
</div>


<div class="ladom" style="display: none"></div>