<div class="clickbait-frame">
  <h1 id='headline'><%= content %></h1>
</div>
<div id='clickbait-buttons'>
  <% %w(listicle whathappens dontwanna whyi watchas).each do |button_type| %>
    <%= clickbait_button(button_type, @clickbait ? @clickbait.headline_type : 'listicle') %>
  <% end %>
</div>

<div class="share">
  <button class="button blue xs" id="manual-ajax">Share Permalink</button>
  <div class='' id="init-twit">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://clickbaitgenerator.herokuapp.com" data-text="" data-via="ShannonEWells" data-size="large" data-count="none">Tweet</a>
  </div>
</div>


<div class="ladom" style="display: none"></div>
