<div id="about">
  <h1>About This Thing</h1>
  <p>
    Need to come up with an article, like, <em>yesterday?</em> Out of ideas?  Desperate for headlines that drive
    traffic to your site, like lemmings over a cliff, or moths to a flame?
    Too hung over to do your job?  If so, <strong>YOUR PROBLEMS ARE OVER.</strong>
    Let Clickbait Generator DO IT. <a href="https://www.youtube.com/watch?v=UrGw_cOgwa8">Simply irresistible</a>
    headlines at the press of a button! You click, then they click!  It's <em>just</em> that easy!
  </p>
</div>
