<h1>About This Thing</h1>
<p>Do you need to come up with an article like, yesterday? Are you running out of ideas?  Are you desperate for headlines that drive traffic to your site, like lemmings over a cliff, or moths to a flame?  Are you  so hung over that you can't think straight?  If so, YOUR TRIBULATIONS ARE OVER.  Let Clickbait Generator be creative for you. We come up with simply irresistible headlines at the press of a virtual button! You click, then they click!  It's just that easy!</p>

<small>And if you believe the above I have a bridge across the Golden Gate to sell you!</small>
