@import 'variables';

@mixin button--gradient {
  box-shadow: 0px 1px 0px 0px $button-shad;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, $button-grad), color-stop(1, $buttonbg));
  background:-moz-linear-gradient(top, $button-grad 5%, $buttonbg 100%);
  background:-webkit-linear-gradient(top, $button-grad 5%, $buttonbg 100%);
  background:-o-linear-gradient(top, $button-grad 5%, $buttonbg 100%);
  background:-ms-linear-gradient(top, $button-grad 5%, $buttonbg 100%);
  background:linear-gradient(to bottom, $button-grad 5%, $buttonbg 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$button-grad', endColorstr='$buttonbg',GradientType=0);
  background-color:$button-grad;
  border-radius:6px;
  border:1px solid $buttonbg;
  &:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, $buttonbg), color-stop(1, $button-grad));
    background:linear-gradient(to bottom, $buttonbg 5%, $button-grad 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$buttonbg', endColorstr='$button-grad',GradientType=0);
    background-color:$buttonbg;
  }

}
