$bgcolor: black;
//    $bgcolor: #ba1800;  // Winter, Valentines
$fgcolor: teal;
$linkcolor: #ba0071;
$buttonbg: #cb0080;
$buttontext: #dddddd;
$hovercolor: white;
$contrastcolor: rgb(121, 200, 199);

