$bgcolor: black;
//    $bgcolor: #ba1800;  // Winter, Valentines
$fgcolor: teal;
$linkcolor: #ba0071;
$buttonbg: #bd0075;
$button-grad: #ff5bb0;
$button-shad: #fbafe3;
$buttontext: white;
$hovercolor: #ff36b5;
$active-button-color: rgba(129, 0, 75, 0.76);
$contrastcolor: rgb(121, 200, 199);
