#main {
  -webkit-animation: main 10s 5s infinite ease; /* Chrome, Safari, Opera */
}
/* Chrome, Safari, Opera */
@-webkit-keyframes main {
    0% {background: #ba000c;}
    50% {background: #0038b8;}
    100% {background: #ba000c;}
}
/* Standard syntax */
@keyframes main {
  from {background: #0038b8;}
  to {background: #ba000c;}
}