// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';
@import 'mixins';

$buttonBackground: #2c3e50;
$buttonColor: rgba(255, 255, 255, 1);

body {
  margin: 0;
  background: $bgcolor;
  font-family: "Montserrat", "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
}

a {
  color: $linkcolor;
}

h1 {
  font-weight: bold;
}

.indent-sm {
  margin-left: 10px;
}

#topbar {
  background-color: $bgcolor;
  color: $linkcolor;
  padding: 0 30px;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  .nav {
    text-align: center;
    margin: 10px 0;
    flex: 1;
  }
}

#main {
  padding: 0;
  background-color: $contrastcolor;
}

#about {
  padding: 20px 30px 40px;
  p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
  }
}
.clickbait-frame {
  padding-top: 20px;
  min-height: 120px;
}

#clickbait-buttons {
  //background: #000;
  font-weight: bold;
  font-size: 28px;
  flex-wrap: wrap;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.share {
  text-align: center;
  .button {
    width: 10%;
    min-width: 100px;
  }
}

.button.button--clickbait {
  font-family: 'Lobster Two', cursive;
  font-weight: 700;
  margin: 28px;
  flex-basis: 0;
  flex-grow: 1;
  margin-top: 5px;
  cursor: pointer;
  text-decoration: none;
}

.button--clickbait:active {
  position: relative;
  top: 1px;
}

#init-twit {
  padding: 0 2em;
  height: 50px;
}

#headline {
  font-size: 40px;
  text-align: center;
  padding: 0 14px;
  margin: 14px auto;
}

.headline-image {
  display: block;
  width: 320px;
  height: 240px;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

.sparkley {
  transition: all 0.25s ease;
}

.text-center {
  text-align: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.clickbait-link {
  width: 75%;
  font-size: 22px;
  padding: 11px;
  display: block;
    margin: 0 10px 15px;
    border-radius: 20px;
    border: none;
}

.ladom.modal {
  display: inline-block;
  vertical-align: top;
  margin-top: 80px;
  border: 8px solid $button-grad;
  background-color: $contrastcolor;
  border-radius: 80px;
}
