// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';

body {
  background: $contrastcolor;
  color: $bgcolor;

  a, #clickbaitme {
    color: $linkcolor;
    &:hover {
      color: $hovercolor;
    }
  }

  div.radio-button {
    label {
      margin-right: 15px;
      font-size: 16px;
    }
  }
  .footer {
    background-color: $bgcolor;
    margin: 0;
    height: 200px;
    padding: 20px 10px;
    .left {
      float: left;
    }
    .nav-bottom {
      padding: 0 10px;
    }
  }
  #clickbaitme {
    color: $buttontext;
    font-weight: bold;
    height: 100px;
    //width: 100px;
    font-size: 150%;
    background-color: $buttonbg;
  }
  #init-twit {
    height: 50px;
  }
}

