<!DOCTYPE html>
<html>
<head>
  <title>ClickbaitGenerator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
    <%= yield %>
</div>
<div class="footer">
  <div class="nav-bottom left"><a href="/">Home</a></div>
  <div class="nav-bottom left"><a href="/home/about" class='nav-bottom'>What?</a></div>
  <div class="nav-bottom left"><a href="http://github.com/shannonwells/clickbait_generator" class='nav-bottom'>Get the Source</a></div>

  <div class="twitter-button left"><a href="https://twitter.com/shannonewells" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="medium"></a></div>
</div>
<script>
    // For the follow
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    // For tweeting the headling
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</body>
</html>
